:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-background: #f0f0f0; /* Background color */
  --color-primary: #000000; /* Black */
  --color-secondary: #ffffff; /* White */
  --color-accent-red: #ec1c1c; /* Red */
  --color-gray: #d3d3d3; /* Light gray */
  --color-dark-gray: #808080; /* Gray */
 
}
*{list-style: none;}

/* body */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
}

#sugerencias {
  position: relative;
  background: var(--color-secondary);
  border-radius: 4px;
  width: 100%;
  max-width: 600px;
  z-index: 1;
  padding: 10px; 
  text-align: center; 
  margin: 16px auto; 
  display: none;
}

.contenedor {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
  padding: 16px;
}

